<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="utf-8"/>
    <title>Web detective</title>
    <link rel="icon" href="{% static 'fwcm.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css">
    <style>
        :root {
            --danger: #d60044;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.0.1"></script>

    {% block head %}
    {% endblock %}

</head>
<body>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {
                const target = el.dataset.target;
                const $target = document.getElementById(target);
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');
            });
        });
    });
</script>

<div class="pt-1">

{% block content %}
{% endblock %}

</div>

</body>
</html>
