{% extends 'master.html' %}

{% block head %}

<script>
#input {
  font-weight: bold; 
  box-shadow: 0 0 10px rgba(50, 50, 50, 0.7), 0 0 20px rgba(50, 50, 50, 0.0);
  padding: 5rem;
}
</script>

{% endblock %}

{% block content %}

  <div class="columns is-mobile" style="">

    <div class="column is-1">
      <aside class="menu has-text-centered">
        <ul>
          <li>
            <button class="button is-danger">
              <i class="mdi mdi-flashlight"></i>
            </button>
          </li>
          <br>
          <li>
            <button class="button is-danger">
              <i class="mdi mdi-blur"></i>
            </button>
          </li>
        </ul>
      </aside>
    </div>

    <div class="column" style="height: 100vh; display: flex;">
      <object id="website" type="text/html" data="http://127.0.0.1:8000/serve" style="width: 100%;" class="pr-4">
      </object>
    </div>

  </div>

<div class="modal" id="myModal">
  <div class="modal-background" style="background: transparent;"></div>
  <div class="modal-content">
    <input id="input" class="input is-rounded is-info has-text-centered" type="text" style="border:none; outline:none; color:white; background: rgba(50, 50, 100, 0.7);"/>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<script>
const modal = document.getElementById("myModal");
document.addEventListener("keydown", function () {
  if (!modal.classList.contains("is-active") && event.key.length === 1 && event.key.match(/[a-zA-Z]/)) {
    modal.classList.add("is-active"); // Open the modal
    const input = document.getElementById("input");
    input.value = "";
    input.focus();
    
  }
  if (event.key === "Escape") {
    modal.classList.remove("is-active"); // Close the modal
  }
});
document.querySelectorAll(".modal-close, .modal-background").forEach((element) => {
  element.addEventListener("click", function () {
    const modal = document.getElementById("myModal");
    modal.classList.remove("is-active"); // Close the modal
  });
});
</script>

<script>
  const input = document.getElementById("input");
</script>

{% endblock %}
