{% extends 'master.html' %}

{% block head %}

  <style>

    .tool-rotate {
      transform: rotate(180deg);
      transform-origin: center;
    }

    .tool-zoom {
      transform: scale(5);
      transform-origin: top left;
    }

    .tool-blur {
      filter: blur(10px);
    }

    .tool-wave {
      width: 400px;
      height: 400px;
      animation: wave 1s infinite;
    }

    @keyframes wave {
      0%, 100% {
        transform: scale(1) skew(-20deg, -10deg);
      }
      50% {
        transform: scale(1) skew(20deg, 10deg);
      }
    }

    .tool-red {
        width: 400px;
        height: 400px;
        position: relative;
    }

    .tool-red::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 0, 0, 0.5);
        pointer-events: none;
    }

.box {
  display: flex;
  cursor: none;
  width: 100%;

  overflow: hidden;
  position: relative;
  
  --flashlight-y-pos: -200px;
  --flashlight-x-pos: -200px;
  --flashlight-inset: -300px;
}

.box::before {
  content: '';
  position: absolute;
  inset: var(--flashlight-inset);
  background-image: radial-gradient(circle, transparent 0%, rgba(0,0,0,0.4) 65px, black 70px, black 100%);
  background-position: var(--flashlight-x-pos) var(--flashlight-y-pos);
  background-repeat: repeat;
}

    .stain {
      position: absolute;
      background: radial-gradient(circle, black 0%, rgba(255, 0, 0, 0) 45%);
      border-radius: 50%;
      pointer-events: none;
    }

  </style>

{% endblock %}

{% block content %}

  
  <div class="columns is-centered has-text-centered my-3">
    <progress id="progress-bar" class="progress is-primary is-small is-centered" value="2" max="5" style="width: 30%;"></progress>
  </div>

  <div class="columns is-mobile" style="">

    <div class="column is-1">
      <aside class="menu has-text-centered">
        <ul>
          <li>
            <button id="flashlight-button" class="button is-outlined">
              <i class="mdi mdi-flashlight"></i>
            </button>
          </li>
          <br>
          <li>
            <button id="blur-button" class="button is-outlined">
              <i class="mdi mdi-blur"></i>
            </button>
          </li>
          <br>
          <li>
            <button id="rotate-button" class="button is-outlined">
              <i class="mdi mdi-flip-vertical"></i>
            </button>
          </li>
          <br>
          <li>
            <button id="zoom-button" class="button is-outlined">
              <i class="mdi mdi-magnify-plus"></i>
            </button>
          </li>
          <br>
          <li>
            <button id="wave-button" class="button is-outlined">
              <i class="mdi mdi-waves"></i>
            </button>
          </li>
          <br>
          <li>
            <button id="red-button" class="button is-outlined">
              <i class="mdi mdi-redhat"></i>
            </button>
          </li>
          <br>
          <li>
            <button id="stains-button" class="button is-outlined">
              <i class="mdi mdi-spray"></i>
            </button>
          </li>
        </ul>
      </aside>
    </div>

    <div id="website-div" class="column box tool-here" style="height: 100vh; display: flex;">
      <object id="website" type="text/html" data="{{ html }}" style="width: 100%;" class="pr-4">
      </object>
    </div>

  </div>

  <div class="modal" id="myModal">
    <div class="modal-background" style="background: transparent;"></div>
    <div class="modal-content">
      <input id="input" class="input is-rounded is-info has-text-centered" type="text"
           style="border:none; outline:none; color:white; background: rgba(50, 50, 100, 0.7); letter-spacing: 0.1rem;"/>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function(){
    const webdiv = document.getElementById("website-div");
    webdiv.classList.remove('box');
});
</script>
    <script>
const box = document.querySelector(".box");
const rect = box.getBoundingClientRect();

box.addEventListener("mousemove", (e) => {
  const x = e.clientX - rect.left;
  const y = e.clientY - rect.top;

  box.style.setProperty("--flashlight-x-pos", `${x - rect.width / 2}px`);
  box.style.setProperty("--flashlight-y-pos", `${y - rect.height / 2}px`);
});

box.addEventListener("mouseleave", () => {
  const inset = box.style.getPropertyValue("--flashlight-inset");

  box.style.setProperty("--flashlight-x-pos", inset);
  box.style.setProperty("--flashlight-y-pos", inset);
});
    </script>

  <script>
    const innerWebPage = document.getElementById("website-div");
    const FLASHLIGHT_COOKIE_NAME = "flashlight";
    const BLUR_COOKIE_NAME = "blur";
    const ROTATE_COOKIE_NAME = "rotate";
    const ZOOM_COOKIE_NAME = "zoom";
    const WAVE_COOKIE_NAME = "wave";
    const RED_COOKIE_NAME = "red";
    const STAINS_COOKIE_NAME = "stains";
    const GAMES_REMAINING_COOKIE_NAME = "remaining";
    const SCORE_COOKIE_NAME = "score";
    const TRUE_COOKIE_VALUE = "true";
    const FALSE_COOKIE_VALUE = "false";

    function setCookie(name, value, daysToExpire = 7) {
      const date = new Date();
      date.setTime(date.getTime() + (daysToExpire * 24 * 60 * 60 * 1000));
      const expires = "expires=" + date.toUTCString();
      document.cookie = name + "=" + encodeURIComponent(value) + ";" + expires + ";path=/";
    }

    function getCookie(name) {
      const value = document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)');
      return value ? value.pop() : '';
    }

    let flashlightButton = document.getElementById("flashlight-button");
    flashlightButton.addEventListener('click', function () {
      this.classList.toggle('is-outlined');
      this.classList.toggle('is-danger');
      const isFlashlightActive = innerWebPage.classList.toggle('box');
      setCookie(FLASHLIGHT_COOKIE_NAME, isFlashlightActive ? TRUE_COOKIE_VALUE : FALSE_COOKIE_VALUE);
    });

    let blurButton = document.getElementById("blur-button");
    blurButton.addEventListener('click', function () {
      this.classList.toggle('is-outlined');
      this.classList.toggle('is-danger');
      const isBlurActive = innerWebPage.classList.toggle('tool-blur');
      setCookie(BLUR_COOKIE_NAME, isBlurActive ? TRUE_COOKIE_VALUE : FALSE_COOKIE_VALUE);
    });

    let rotateButton = document.getElementById("rotate-button");
    rotateButton.addEventListener('click', function () {
      this.classList.toggle('is-outlined');
      this.classList.toggle('is-danger');
      const isRotateActive = innerWebPage.classList.toggle('tool-rotate');
      setCookie(ROTATE_COOKIE_NAME, isRotateActive ? TRUE_COOKIE_VALUE : FALSE_COOKIE_VALUE);
    });

    let zoomButton = document.getElementById("zoom-button");
    zoomButton.addEventListener('click', function () {
      this.classList.toggle('is-outlined');
      this.classList.toggle('is-danger');
      const isZoomActive = innerWebPage.classList.toggle('tool-zoom');
      setCookie(ZOOM_COOKIE_NAME, isZoomActive ? TRUE_COOKIE_VALUE : FALSE_COOKIE_VALUE);
    });

    let waveButton = document.getElementById("wave-button");
    waveButton.addEventListener('click', function () {
      this.classList.toggle('is-outlined');
      this.classList.toggle('is-danger');
      const isWaveActive = innerWebPage.classList.toggle('tool-wave');
      setCookie(WAVE_COOKIE_NAME, isWaveActive ? TRUE_COOKIE_VALUE : FALSE_COOKIE_VALUE);
    });

    let redButton = document.getElementById("red-button");
    redButton.addEventListener('click', function () {
        this.classList.toggle('is-outlined');
        this.classList.toggle('is-danger');
        const isRedActive = innerWebPage.classList.toggle('tool-red');
        setCookie(RED_COOKIE_NAME, isRedActive ? TRUE_COOKIE_VALUE : FALSE_COOKIE_VALUE);
    });

    let stainsButton = document.getElementById("stains-button");
    stainsButton.addEventListener('click', function () {
      this.classList.toggle('is-outlined');
      this.classList.toggle('is-danger');
      const isWaveActive = innerWebPage.classList.toggle('tool-stains');
      setCookie(STAINS_COOKIE_NAME, isWaveActive ? TRUE_COOKIE_VALUE : FALSE_COOKIE_VALUE);
    });

    function restoreState() {
      if (getCookie(FLASHLIGHT_COOKIE_NAME) === TRUE_COOKIE_VALUE) {
        flashlightButton.classList.toggle('is-outlined');
        flashlightButton.classList.toggle('is-danger');
        innerWebPage.classList.add('box');
      }
      if (getCookie(BLUR_COOKIE_NAME) === TRUE_COOKIE_VALUE) {
        blurButton.classList.toggle('is-outlined');
        blurButton.classList.toggle('is-danger');
        innerWebPage.classList.add('tool-blur');
      }
      if (getCookie(ROTATE_COOKIE_NAME) === TRUE_COOKIE_VALUE) {
        rotateButton.classList.toggle('is-outlined');
        rotateButton.classList.toggle('is-danger');
        innerWebPage.classList.add('tool-rotate');
      }
      if (getCookie(ZOOM_COOKIE_NAME) === TRUE_COOKIE_VALUE) {
        zoomButton.classList.toggle('is-outlined');
        zoomButton.classList.toggle('is-danger');
        innerWebPage.classList.add('tool-zoom');
      }
      if (getCookie(WAVE_COOKIE_NAME) === TRUE_COOKIE_VALUE) {
        waveButton.classList.toggle('is-outlined');
        waveButton.classList.toggle('is-danger');
        innerWebPage.classList.add('tool-wave');
      }
      if (getCookie(RED_COOKIE_NAME) === TRUE_COOKIE_VALUE) {
          redButton.classList.toggle('is-outlined');
          redButton.classList.toggle('is-danger');
          innerWebPage.classList.add('tool-red');
      }
      if (getCookie(STAINS_COOKIE_NAME) === TRUE_COOKIE_VALUE) {
        stainsButton.classList.toggle('is-outlined');
        stainsButton.classList.toggle('is-danger');
        innerWebPage.classList.add('tool-stains');
      }
      const progressBar = document.getElementById('progress-bar');
      progressBar.value = 5 - parseInt(getCookie(GAMES_REMAINING_COOKIE_NAME));
    }

    document.addEventListener('DOMContentLoaded', restoreState);


      document.addEventListener("DOMContentLoaded", function() {
          if (getCookie(GAMES_REMAINING_COOKIE_NAME) === "") {
              setCookie(GAMES_REMAINING_COOKIE_NAME, 5);
              document.getElementById("progress-bar").setAttribute("value", 5)
          }
    });

    const MIN_RADIUS = 250;
    const MAX_RADIUS = 500;

    function addRandomStains(numStains) {
      const targetDiv = document.getElementById("website-div");

      if (!targetDiv) {
        console.error("Target div with id 'website-div' not found.");
        return;
      }

      const targetRect = targetDiv.getBoundingClientRect();

      for (let i = 0; i < numStains; i++) {
        const stain = document.createElement('div');

        const randomRadius = Math.floor(Math.random() * (MAX_RADIUS - MIN_RADIUS + 1)) + MIN_RADIUS;

        // Random positions relative to targetDiv
        const randomX = Math.floor(Math.random() * targetRect.width) + randomRadius;
        const randomY = Math.floor(Math.random() * targetRect.height);

        stain.classList.add('stain');

        stain.style.width = `${randomRadius * 2}px`;
        stain.style.height = `${randomRadius * 2}px`;

        // Positioning stains relative to the targetDiv
        stain.style.position = "absolute";
        stain.style.left = `${randomX - randomRadius}px`;
        stain.style.top = `${randomY - randomRadius}px`;

        stain.style.display = 'none';

        targetDiv.appendChild(stain);
      }
    }

    function toggleStains() {
      const stains = document.querySelectorAll('.stain');
      const toggleButton = document.querySelector('.toggle-button');

      if (stains.length > 0) {
        const isHidden = stains[0].style.display === 'block';

        stains.forEach(stain => {
          stain.style.display = isHidden ? 'none' : 'block';
        });

        toggleButton.textContent = isHidden ? 'Hide Stains' : 'Show Stains';
        toggleButton.classList.toggle('hidden', !isHidden);
      }
    }

    document.getElementById('stains-button').addEventListener('click', toggleStains);

    addRandomStains(50);
  </script>

  <script>
    const modal = document.getElementById("myModal");
    document.addEventListener("keydown", function () {
      if (!modal.classList.contains("is-active") && event.key.length === 1 && event.key.match(/[a-zA-Z]/)) {
        modal.classList.add("is-active");
        const input = document.getElementById("input");
        input.value = "";
        input.focus();
      }
      if (event.key === "Escape") {
        modal.classList.remove("is-active");
      }
      if (event.key === "Enter") {
        const input = document.getElementById("input");
        console.log(input.value);
      }
    });
    document.querySelectorAll(".modal-close, .modal-background").forEach((element) => {
      element.addEventListener("click", function () {
        const modal = document.getElementById("myModal");
        modal.classList.remove("is-active"); // Close the modal
      });
    });
  </script>

  <script>
    function processUrl(url) {
      url = url.replace(/^https?:\/\//, '');
      url = url.replace(/^www\./, '');
      return url.split('.')[0];
    }

    function resetInputBackgroundColor() {
      input.style.backgroundColor = "rgba(50, 50, 100, 0.7)";
    }

    function inputWrong() {
      input.style.backgroundColor = "rgba(150, 50, 50, 0.7)";
      input.classList.add('shake');

      setTimeout(() => {
        resetInputBackgroundColor();
        input.classList.remove('shake');
      }, 1200);
      setTimeout(() => {
        resetInputBackgroundColor();
      }, 1200);
    }

    function validInput() {
      const inputRext = input.getBoundingClientRect();
      const x = inputRext.left + (inputRext.width / 2);
      const y = inputRext.top + (inputRext.height / 2);
      triggerConfetti(x, y);

      // Random confetti on a big dimanche
      const randomNumber = Math.floor(Math.random() * 301) - 150;
      const randomCoeff = Math.random();
      const randomInvert = Math.random() < 0.2 ? 2.5 : 1;
      setTimeout(() => {
        triggerConfetti(350 + randomNumber * 0.75 * randomCoeff * randomInvert, 200 - randomNumber * randomCoeff * randomInvert);
      }, 400)
      setTimeout(() => {
        triggerConfetti(1500 - randomNumber * 2 * randomCoeff * randomInvert, 400 + randomNumber * randomCoeff * randomInvert);
      }, 700)
      resetInputBackgroundColor();

      const newRemainingGames = parseInt(getCookie(GAMES_REMAINING_COOKIE_NAME)) - 1;
      if (newRemainingGames === 0) {
          const finalScore = parseInt(getCookie(SCORE_COOKIE_NAME)) + 50;
          console.log("Game over " + finalScore);
          setCookie(GAMES_REMAINING_COOKIE_NAME, 5);
          setCookie(SCORE_COOKIE_NAME, 0);
          const progressBar = document.getElementById('progress-bar');
          progressBar.value = 5;
          setTimeout(() => {
              location.reload();
          }, 5000);
      } else {
        setCookie(GAMES_REMAINING_COOKIE_NAME, newRemainingGames);
        const newScore = parseInt(getCookie(SCORE_COOKIE_NAME)) + 50;
        setCookie(SCORE_COOKIE_NAME, newScore);
        const progressBar = document.getElementById('progress-bar');
        progressBar.value = 5 - newRemainingGames;
        setTimeout(() => {
            location.reload();
            input.disabled = false;
        }, 1500);
        input.disabled = true;
      }
    }

    const input = document.getElementById("input");
    const answer = "{{ answer }}"

    function handleInput(event) {
      if (event.key !== "Enter") return;
      const inputValue = processUrl(input.value);
      const placeholderValue = processUrl(answer);

      if (inputValue === placeholderValue) {
        validInput();
      } else {
        inputWrong();
      }
    }

    input.addEventListener("keydown", handleInput);

    function triggerConfetti(x, y) {
      const screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
      const screenHeight = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;

      let defaults = {
        spread: 200,
        ticks: 200,
        gravity: 0,
        decay: 0.95,
        startVelocity: 15,
        origin: {x: x / screenWidth, y: y / screenHeight},
        colors: ['FFE400', 'FFBD00', 'E89400', 'FFCA6C', 'FDFFB8']
      };

      function shoot() {
        confetti({
          ...defaults,
          particleCount: 60,
          scalar: 1.2,
          shapes: ['star']
        });

        confetti({
          ...defaults,
          particleCount: 20,
          scalar: 0.75,
          shapes: ['circle']
        });
      }

      setTimeout(shoot, 0);
    }
  </script>

  <style>
    @keyframes shake {
      0% {
        transform: translateX(0);
      }
      25% {
        transform: translateX(-10px);
      }
      50% {
        transform: translateX(10px);
      }
      75% {
        transform: translateX(-10px);
      }
      100% {
        transform: translateX(0);
      }
    }

    .input.shake {
      animation: shake 0.3s ease-in-out;
      animation-iteration-count: 1;
    }
  </style>

{% endblock %}
