{% extends 'master.html' %}

{% block head %}
    <style>
        html {
            height: 100%;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .content-wrapper {
            flex: 1;
        }
    </style>
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="is-flex is-justify-content-center">
        <form method="post" action="{% url 'login' %}?next={{ request.GET.next }}">
            {% csrf_token %}
            <div class="card has-background-info">
                <div class="card-content">
                    <div class="field">
                        <label class="label has-text-white">Nom d'utilisateur</label>
                        <div class="control">
                            <input class="input" type="text" name="username" placeholder="username">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label has-text-white">Mot de passe</label>
                        <div class="control">
                            <input class="input" type="password" name="password" placeholder="password">
                        </div>
                    </div>
                    <div class="field">
                        <div class="">
                            {% if messages %}
                                <strong>Erreur:</strong>
                                {% for message in messages %}
                                    <div class="has-text-white is-flex is-justify-content-center">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="field is-flex is-justify-content-center">
                        <div class="control">
                            <button class="button is-outlined is-white" type="submit">Se connecter</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
